{{ define "main" }}

<h1>Hello, world!</h1>

<p>
ICANHAZK8S.com is a fun-spirited collection of notes, memes and links for people learning Kubernetes. Good luck on your <b>CKA journey</b>, friend.    <a href="about/">(more)</a>
</p>
<br/>

<h1>Latest posts</h1>

<!-- <div class="posts-list"> 
<div class="latest-posts-p"><p>Here are some notes I wrote...</p></div>   -->

<!-- Hugo dates: https://gohugo.io/functions/format/ -->

  <div>
    <p>
    {{ range ( first 3 ( where .Site.Pages "Type" "post" ).ByDate ) }}
    <p>I wrote a quick post called <a href="{{ .Permalink }}">{{ .Title }}</a> on {{ .PublishDate.Format "January 2, 2006" }}:  {{ .Summary }}  <a href="{{ .Permalink }}">| less</a>  </p>
      {{ end }}

    </p>

  </div>

</div>



{{ end }}
