<div class="footer">
    Copyright 2020 by <a href="https://brie.dev">Brie Carranza</a> // Powered by <a href="https://gohugo.io/">Hugo</a> with
    <a href="https://github.com/mrmierzejewski/hugo-theme-console/">Console Theme</a>. 
</div>
